.advantage__title {
  color: var(--secondarycolor);
}

.advantage__list {
  margin: -15px;
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.advantage__container {
  border-radius: 4px;
  margin: 15px;
  @media screen and(min-width:768px) {
    width: calc(100% / 2 - 30px);
  }
  @media screen and(min-width:1200px) {
    width: calc(100% / 4 - 30px);
  }
}
.advantage__wrap {
  display: flex;
  flex-wrap: wrap;
  background: #f5f4fa;
  justify-content: center;
  padding: 25px 0px;
}
.advantage__icon {
  width: 70px;
  height: 70px;
}

.advantage__second-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 114%;
  margin-top: 30px;
}
.advantage__text {
  font-size: 14px;
  line-height: 171%;
  margin-top: 10px;
}
