.menu-button {
  @media screen and(min-width:768px) {
    display: none;
  }
}
.mob {
  position: fixed;
  // border: 1px solid teal;
  background: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(0);
  transition: transform var(--transition);
  &.is-hidden {
    transform: translateX(100%);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob .header-container {
  display: none;
}
.menu-button__button {
  border: none;
  background: transparent;
}
.menu-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  color: var(--accentcolor);
}
.menu-close-btn__icon {
  width: 40px;
  height: 40px;
  &:hover,
  &:focus {
    fill: currentColor;
  }
  transition: fill var(--transition);
}

.mob-menu {
  padding: 48px 0 0 40px;
}
.mob-menu__list-item {
  @include font(40px, 500, 1.2);
  letter-spacing: 0.02em;
  margin: 32px 0;
  &:first-child {
    margin: 0;
  }
}
.mob-menu__list--link {
  padding: 16px 0;
  color: var(--secondarycolor);
  &:hover,
  &:focus {
    color: var(--accentcolor);
  }
  transition: color var(--transition);
}
.mob-menu__contact {
  padding-left: 40px;
}
.mob-menu__tel {
  @include font(34px, 500, 1.17);

  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
.mob-menu__tel--link {
  color: var(--accentcolor);
}
.mob-menu__site {
  @include font(28px, 500, 1.16);

  letter-spacing: 0.02em;
  margin-bottom: 64px;
}
.mob-menu__site--link {
  color: var(--maincolor);
}

.mob-menu__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 48px;
}
.mob-menu__socials {
  @include font(18px, 500, 1.22);
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}
.mob-menu__link {
  color: var(--accentcolor);
}
